In [3]:
import pandas as pd

In [4]:
data_set=pd.read_csv("D:\weather_dict.csv",sep=",")

In [5]:
data_set.head()

,EST,Temperature,DewPoint,Humidity,SeaLevelPressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [6]:
data_set.shape

(31, 11)

In [7]:
data_set['Temperature'].max()

50

In [8]:
data_set['EST'][data_set['Temperature']==50]

9    1/10/2016
Name: EST, dtype: object

In [9]:
data_set.isnull()

,EST,Temperature,DewPoint,Humidity,SeaLevelPressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,True,False,False,False,False
10,False,False,False,False,False,False,True,False,False,True,False
11,False,False,False,False,False,False,False,False,False,True,False
12,False,False,False,False,False,False,False,False,False,True,False
13,False,False,False,False,False,False,False,False,False,True,False
14,False,False,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,True,False
19,False,False,False,False,False,False,False,False,False,True,False
20,False,False,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,True,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,True,False
25,False,False,False,False,False,False,False,False,False,True,False
26,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,True,False
28,False,False,False,False,False,False,False,False,False,True,False
29,False,False,False,False,False,False,False,False,False,True,False
30,False,False,False,False,False,False,False,False,False,True,False

In [10]:
data_set.loc[:,data_set.isnull().any()]

    WindSpeedMPH    Events
0            8.0       NaN
1            7.0       NaN
2            8.0       NaN
3            9.0       NaN
4            5.0       NaN
5            4.0       NaN
6            2.0       NaN
7            4.0       NaN
8            8.0      Rain
9            NaN      Rain
10           NaN       NaN
11           6.0       NaN
12          10.0       NaN
13           5.0       NaN
14           5.0       NaN
15           7.0      Rain
16           6.0  Fog-Snow
17          12.0      Snow
18          11.0       NaN
19           6.0       NaN
20           6.0       NaN
21           NaN      Snow
22          16.0  Fog-Snow
23           6.0      Snow
24           3.0       NaN
25           7.0       NaN
26           7.0      Rain
27           5.0       NaN
28           8.0       NaN
29           7.0       NaN
30           5.0       NaN

In [14]:
final_data=data_set.drop(['SeaLevelPressureIn','PrecipitationIn','CloudCover','Events','WindDirDegrees','VisibilityMiles','WindSpeedMPH'],axis=1)
final_data

          EST  Temperature  DewPoint  Humidity
0    1/1/2016           38        23        52
1    1/2/2016           36        18        46
2    1/3/2016           40        21        47
3    1/4/2016           25         9        44
4    1/5/2016           20        -3        41
5    1/6/2016           33         4        35
6    1/7/2016           39        11        33
7    1/8/2016           39        29        64
8    1/9/2016           44        38        77
9   1/10/2016           50        46        71
10  1/11/2016           33         8        37
11  1/12/2016           35        15        53
12  1/13/2016           26         4        42
13  1/14/2016           30        12        47
14  1/15/2016           43        31        62
15  1/16/2016           47        37        70
16  1/17/2016           36        23        66
17  1/18/2016           25         6        53
18  1/19/2016           22         3        42
19  1/20/2016           32        15        49
20  1/21/2016           31        11        45
21  1/22/2016           26         6        41
22  1/23/2016           26        21        78
23  1/24/2016           28        11        53
24  1/25/2016           34        18        54
25  1/26/2016           43        29        56
26  1/27/2016           41        22        45
27  1/28/2016           37        20        51
28  1/29/2016           36        21        50
29  1/30/2016           34        16        46
30  1/31/2016           46        28        52

In [16]:
final_data.Humidity.mean()
#final_data['Humidity'].mean()

51.67741935483871

In [17]:
import matplotlib.pyplot as plt

In [22]:
x=[1,2,3,4,5]
y=[2,4,6,8,10]
plt.plot(x,y)

In [23]:
final_data.plot.bar()

In [24]:
import seaborn as sns

In [27]:
flights=sns.load_dataset('flights')

In [28]:
flights

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [29]:
sns.heatmap(flights.corr(),annot=True)

In [1]:
'''predict = 'Profit'
X = np.array(student_dataset.drop([predict],axis =1))
y = np.array(student_dataset[predict])

best_acc = 0
for i in range(1000):
    x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X , y , test_size= 0.2)
    Nexus = linear_model.LinearRegression()
    Nexus.fit(x_train,y_train)
    accuracy = Nexus.score(x_test,y_test)
    if(accuracy>best_acc):
        best_acc=accuracy
        with open('Nexus_Model.pickle','wb') as f:
            pickle.dump(Nexus, f)
print("The Best Accuracy is : ",best_acc*100)
pickle_in=open('Nexus_Model.pickle','rb')
Nexus=pickle.load(pickle_in)

predictions=Nexus.predict(x_test)
for i in range(len(predictions)):
    print("Predicted value :",predictions[i],'Actual value :',y_test[i])'''

'predict = \'Profit\'\nX = np.array(student_dataset.drop([predict],axis =1))\ny = np.array(student_dataset[predict])\n\nbest_acc = 0\nfor i in range(1000):\n    x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X , y , test_size= 0.2)\n    Nexus = linear_model.LinearRegression()\n    Nexus.fit(x_train,y_train)\n    accuracy = Nexus.score(x_test,y_test)\n    if(accuracy>best_acc):\n        best_acc=accuracy\n        with open(\'Nexus_Model.pickle\',\'wb\') as f:\n            pickle.dump(Nexus, f)\n            \nprint("The Best Accuracy is : ",best_acc*100)\npickle_in=open(\'Nexus_Model.pickle\',\'rb\')\nNexus=pickle.load(pickle_in)\n\npredictions=Nexus.predict(x_test)\nfor i in range(len(predictions)):\n    print("Predicted value :",predictions[i],\'Actual value :\',y_test[i])'